@{
    Page.Title = "Hello world page";
}
<html>
<body style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> 
<h1 id="myH1">Hello world</h1>
<h2 id="myH2">Simple MVC page with only hello world on it</h2>
<h3 id="myVer">3.0&nbsp;&nbsp;&gt;&lt;&lt;&lt;)o&gt;</h3>
<div>
    <label>input area here:&nbsp;</label><input id="myText" type="text"/>
</div>
</body>
</html>
